@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Aluno: @ViewData["aluno"]</p>

<address>
    <strong>Mais informações: </strong> <a href="www.google.com.br">google.com.br</a>
</address>

<p>@ViewData["email"]</p>


